
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-gt">
    <div class="container">
        <p>
            <h2>Giới thiệu<h2>
        <p>Đồ án môn học Công Nghệ Web ASP.NET</p>
        <p>GVHD:Nguyễn Hải Yến</p>
        <ul>
            <li><p>Nguyễn Văn Sang - 2001160328<p></li>
            <li><p>Nguyễn Thị Như Thương - 2001160359</p></li>
            <li><p>HUFI-Đại Học Công Nghiệp Thực Phẩm TPHCM</p></li>
            <li><p>Thông tin liên hệ: sangnguyen07dhth@gmail.com</p></li>
        </ul>
        </p>
    </div>
</section>
